@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

.container {
    width: 700px;
    height: 800px;
    margin: 50px auto;
    background-color: skyblue;
    padding: 1.5rem;
}

hr {
    color:  #0B0A0A;
    margin: 0.5rem 0;
    
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}

.header .personal-info h1{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.header .personal-info p{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.header .personal-info span {
    font-size: .875rem;
    font-weight: 600;
}

.header .contact-info {
    font-size: 0.81rem;
}

.header .contact-info a{
    text-decoration: none;
    color:  #0B0A0A;
}
.summery {
    font-size: .875rem;
}

.content-body .technical-skill h4{
    font-size: 1rem;
    letter-spacing: 1.5px;
    margin-bottom: 0.3rem;
}

.content-body .technical-skill .skills{
    font-size: 0.875rem;
}

.content-body .technical-skill .skills .skill-section b{
    font-weight: 600;
}

.project h4{
    font-size: 1rem;
    letter-spacing: 1.5px;
    margin-bottom: 0.3rem;
}

.project .project-card {
    font-size: 0.875rem;
    padding: 0.5rem;
}
    
.project-card h5{
    text-transform: uppercase;
}

.project-card h5 a{
    text-transform: none;
    font-weight: 400;
}

.project-card ol{
    margin-left: 1rem;
}

.education h4{
    font-size: 1rem;
    letter-spacing: 1.5px;
    margin-bottom: 0.3rem;
}

.education p{
    font-size:0.875rem;
}

.education .clg{
    font-weight: 600;
}

.education span{
    font-size:0.81rem;
    font-weight: 300;
}

.education p b{
    font-weight: 600;
}
